.main {
    min-height: 100vh;
    max-width: 100%;
    background-color: #f8efef;
    position: relative;
    

    &::before, &::after {
        content:'';
        position: absolute;
        left: 0;

    }
    &::before {
        clip-path: polygon(100% 33%, 0% 100%, 100% 100%);
        background: linear-gradient(45deg, rgba(216, 46, 8, 0.085), rgba(62, 7, 189, 0.126));
        width: 100%;
        height: 100%;
    }
}

.main-container {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content:center;
    
}

.text{
    line-height:55px;
    margin-top: 60px;

    p {
        color: rgb(157, 155, 155);
        text-transform: uppercase;
        font-size: 22px;
    }
    h1{
        font-size: 50px;
        text-transform: uppercase;
    }
}

.icons {
    display: flex;
    .icon{
        margin-top: 1rem;
        margin-right: 1.4rem;
        font-size: 50px;
        cursor: pointer;
        color: rgb(157, 155, 155);
        &:hover{
            color: red;
        }
    }
}
.buttons{
    button{
        padding: 15px 40px;
        margin-top:2rem;
        margin-right: 1rem;
        background: linear-gradient(25deg, rgba(1, 68,210, 0.753), rgb(255, 72,61));
        cursor: pointer;
        border: 1px solid #fff;
        border-radius: 5px;
        color: #f1f1f1;
        text-transform: uppercase;
        font-weight: bold;
    }
}
.main-img {
    margin: 60px 0 0 75px;
    
}

//------------------------ Media Queries ---------------------------//

@media (max-width:850px) {
    .text{
        line-height: 40px;
        white-space: nowrap;

        p{
            font-size: 25px;
        }
        h1 {
            font-size: 40px;
        }
    }
    .buttons {
        button{
            // padding: px;
            font-weight: normal;
        }
    }
}

@media (max-width:680px){
    .main-container {
        text-align: center;
        justify-content: center;
        flex-direction: column;
        line-height: 1rem;
        .text{
            line-height: 60px;
        }
        .icons{
                justify-content: center;
        }
        .buttons{
            margin-top:25px
        }
        .main-img{
            display: none;
        }
    }
}

@media (max-width:490px){
    .main-container{
  
        .text{
           p{
               font-size:20px;
           }
           h1{
               font-size:26px;
           }
            
           }
        }
        .buttons {
            button{
                padding:10px;
               
            }
        }
}
