.contact{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(90deg, transparent 0%, transparent 10%, #EA858A 10%, #EA858A calc(10% + 3px), transparent calc(10% + 3px), transparent 100%), linear-gradient(180deg, white 10%, transparent 10%), repeating-linear-gradient(180deg, #91C1E1 0px, #91C1E1 2px, transparent 2px, transparent 38px), linear-gradient(white,white);
    .arrow{
        margin: 20px 0 0 20px;
        color: rgb(82,76,76);
        cursor: pointer;
        &:hover{
            transform: scale(1.2);
            border: 1px solid rgb(82,76,76);
            border-radius: 15px;
            
        }
    }
}

.input{
    width: 70%;
    height: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:#2C2C54;

    h1{
        color:#2C2C54;
        font-size:70px;
    }
    a{
        text-decoration: none;
        color:blue;
        cursor: pointer;
        font-size: 20px;
        margin: 40px 0;
    }
    p{
        font-size: 40px;
        color:#2C2C54;
    }
   
}

//------------------------ Media Queries ---------------------------//

@media (max-width:440px){
    .input{
       h1{
           font-size: 50px;
       }
       p{
           font-size: 27px;
       }
          
}}