.works{
    min-height: 100vh;
    width: 80%;
    margin: 1rem auto;
    .arrow{
        margin-left:15px;
        color: rgb(82,76,76);
        cursor: pointer;
        &:hover{
            transform: scale(1.4);
            border: 1px solid rgb(82,76,76);
            border-radius: 15px;
            margin-left:30px;
        }
    }
}

//------------------------ Media Queries ---------------------------//

@media (min-width: 50em) {
    .work-section{
        padding: 15px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
        gap: 3rem;
        // align-items: center;

    }
}

.cards{
    position: relative;
    cursor: pointer;
    height: 23rem;
    width: 25rem;
    // border: 3px solid #f1f1f1ff;
    img{
        height: 65%;
        width: 100%;
    }
    button{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: transparent;
        border: 3px solid firebrick;
        padding: 10px 20px;
        color: #f1f1f1;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        opacity: 0;
        border-radius: 30px;
        color: firebrick;

        &:hover {
            background: #f1f1f1;
        }
    }
    &:hover button {
        opacity: 1;
        transition: all 0.5s ease-in-out;
    }
    &:hover img {
        opacity: 0.2;
        transition: all 0.5s ease-in-out;
    }
    .cards-icons{
        display: flex;
        justify-content: center;
        align-items: center;
        .icon-work{
            margin: 5px 30px 15px;
            font-size: 45px;    
            color: black;
        }
    }
    a{
        text-decoration: none;
        color: black;
    }
    .cards-title{
        font-weight: bold;
        text-transform: uppercase;
    }
    .cards-description{
        font-weight: 100;
        font-style: italic;
    }
}

@media (max-width: 800px){
    .cards{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 2rem;
    }
}
@media (max-width: 500px){
    .cards{
        height: 40vh;
    }
}
