.works-background{
    background-image: repeating-linear-gradient(0deg, transparent 0px, transparent 25px,hsla(222,99%,62%,0.08) 25px, hsla(222,99%,62%,0.08) 27px,transparent 27px, transparent 51px),repeating-linear-gradient(90deg, transparent 0px, transparent 25px,hsla(222,99%,62%,0.08) 25px, hsla(222,99%,62%,0.08) 27px,transparent 27px, transparent 51px),repeating-linear-gradient(90deg, transparent 0px, transparent 50px,hsla(328,92%,72%,0.12) 50px, hsla(328,92%,72%,0.12) 52px,transparent 52px, transparent 102px),repeating-linear-gradient(0deg, transparent 0px, transparent 50px,hsla(328,92%,72%,0.12) 50px, hsla(328,92%,72%,0.12) 52px,transparent 52px, transparent 102px),repeating-linear-gradient(0deg, hsla(231,83%,44%,0.12) 0px, hsla(231,83%,44%,0.12) 2px,transparent 2px, transparent 102px),repeating-linear-gradient(90deg, hsla(231,83%,44%,0.12) 0px, hsla(231,83%,44%,0.12) 2px,transparent 2px, transparent 102px),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
}

.works{
    min-height: 100vh;
    width: 80%;
    margin: 1rem auto;
    
    .arrow{
        margin-left:15px;
        color: rgb(82,76,76);
        cursor: pointer;
        &:hover{
            transform: scale(1.4);
            border: 1px solid rgb(82,76,76);
            border-radius: 15px;
            margin-left:30px;
        }
    }
}

//------------------------ Media Queries ---------------------------//

@media (min-width: 50em) {
    .work-section{
        padding: 15px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
        gap: 3rem;
    }
}

.cards{
    position: relative;
    height: 23rem;
    width: 100%;
    img{
        height: 65%;
        width: 100%;
        border-radius: 15px 15px 0 0;
    }
    button{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: transparent;
        border: 3px solid firebrick;
        padding: 10px 20px;
        color: #f1f1f1;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        opacity: 0;
        border-radius: 30px;
        color: firebrick;

        &:hover {
            background: #f1f1f1;
        }
    }
    .cards-icons{
        display: flex;
        justify-content: center;
        align-items: center;
        .icon-work{
            margin: 5px 30px 15px;
            font-size: 45px;    
            color: black;
        }
    }
    a{
        text-decoration: none;
        color: black;
    }
    .cards-title{
        font-weight: bold;
        text-transform: uppercase;
    }
    .cards-description{
        font-weight: 100;
        font-style: italic;
    }
}

@media (max-width: 1100px) {
    .cards{
        height: 30rem;
    }
}

@media (max-width: 800px){
    .cards{
        width: 90%;
        margin: 0px auto;
        margin-bottom: 4rem;     
    }
}
@media (max-width: 500px){
    .cards{
        height: 45vh;
    }
}
